<h3> Clean Architecture (ASP.NET Core with Angular)</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <ul>
      <li>
        <strong> Clean Architecture Sample</strong>
        <ul>
          <li>Clean Architecture Design</li>
          <li>ASP.NET Core 3.0</li>
          <li>Entity Framework Core</li>
          <li>CRUD Operations</li>
          <li>Dependency Injection</li>
          <li>AutoMapper</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li>
        <strong>Angular Sample</strong>
        <ul>
          <li>Modular</li>
          <li>Dependency Injection</li>
          <li>Services</li>
          <li>Reactive Forms</li>
          <li>Validation</li>
          <li>@Input & @Output Decorators</li>
          <li>Http Client Requests</li>
          <li>Pagination</li>
          <li>OnInit & OnDestroy (Lifecycle Hooks)</li>
          <li>Rxjs Observables</li>
          <li>Subscription (Subscribe & Unsubscribe)</li>
          <li>Routing</li>
          <li>Lazy Loading Modules</li>
          <li>Http Interceptors</li>
          <li>Toastr</li>
          <li>Bootstrap 4</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
