/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ng-valid[required],
.ng-valid.required ,
.ng-valid:not(form){
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

h4 {
  border-bottom: #eee 1px solid;
  width: 200px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
